@font-face {
  font-family: 'zetkin';
  src: local("zetkin"),
    url("../fonts/zetkin_wide.woff") format("woff");
}

@font-face {
  font-family: 'fugue';
  src: local("fugue"),
    url("../fonts/fugue_mono.woff") format("woff");
}

.main {
  font-family: 'zetkin';
}
